* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
body {
    min-height: 100vh;
    background-image: url('/assets/img/rainy.jpg');
    background-size: cover;
}

h2 {
    padding-left: 1rem;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    backdrop-filter: blur(15px);
}

.city-search {
    padding-left: 25px;
}

.city-content {
    border-bottom: solid 1px;
    opacity: .3;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px;
    border-radius: 0;
    opacity: .7;
}

.form-control:focus {
    background-color: transparent;
    border-color: whitesmoke;
    outline: 0;
    box-shadow: none;
}


#search-btn {
    background-color: #4D736C;
    height: 4rem;
    width: 5rem;
    border-radius: 0;
}


.forecast div {
    margin: 14px 0;
}

.ex {
    border: solid red 2px;
}

.city-content {
    height: 215px;
}

#current-weather {
    position: absolute;
    top: 70%;
    /* left: 1%; */
}

#current-temp {
    font-size: 10ch;
    
}

#current-city, #current-date {
    font-size: 4ch;
    position: absolute;
    right: 35%;
    top: 2rem;
}

#current-date {
    font-size: 2ch;
    font-weight: bolder;
    position: absolute;
    top: 5rem;
}

#weather-icon {
    position: relative;
    right: 156%;
    bottom: 50%;
}


