body {
    min-height: 100vh;
    background-image: url('../img/rainy.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center; */
}

p {
    color: whitesmoke;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    backdrop-filter: blur(15px);
}

.city-search {
    padding-left: 25px;
}

.city-content {
    border-bottom: solid 1px;
    color: whitesmoke;
    opacity: .3;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px;
    border-radius: 0;
    opacity: .7;
}

.form-control:focus {
    color: whitesmoke;
    background-color: transparent;
    border-color: whitesmoke;
    outline: 0;
    box-shadow: none;
}


#search-btn {
    background-color: #4D736C;
    height: 4rem;
    width: 5rem;
    border-radius: 0;
}

